import(parallel)
#exportPattern("^[^\\.]") 
export(s4vdpca,
       rspca,
       ssvdpca,
       generate_covar,
       angle,
       type1,
       type2,
       thresh,
       emp_spike,
       emp_sparsity,
       screeplot.spca,
       biplot.spca,
       plot.spca,
       plot.spc,
       summary.spca,
       print.spca,
       spca)

